svg {
}
.settings {
  font-size: 15px;
}
.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  background: #efefef;
  padding: 10px;
}
.matInput{
  color: black;
}
mat-label {
  color: #3f51b5;
}
mat-expansion-panel {
  background: #efefef;
}
mat-form-field, mat-checkbox {
  display: block;
  width: 100%;
}

mat-checkbox {
  margin-bottom: 10px;
}

.buttonbtn {
  margin: 3px;
}

.nodes{
  cursor: pointer;
}
.nodeTitle {
  font-weight: bold;
  font-size: 17px;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}
td {
  padding-left: 15px;
  padding-right: 15px;
}
tr.tableRow:nth-child(even) {
  background-color: #e6e6e6;
}

tr.tableRow:last-child {
  border-bottom: none;
}
input, label {
  padding: 15px;
}
.btn {
  width: 30px;
  height: 30px;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 50%;
  color: white;
  padding: 15px 10px 5px;
  position: fixed;
  text-align: center;
	transition: all 0.3s ease;
}
.button {
  position: relative;
  left: 10px;
  background-color: #2f80ed;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline:none
}
.button:hover
 {
     border: 1px solid #2f80ed ;
     color: #2f80ed;
     background-color: white;
     outline:none
  }
.tablesModal {
  position: relative;
  height: 520px;
  width: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  top: 100px;
  left: 500px;
  box-shadow: 20px 20px 50px grey;
}
.tablesModalSelect {
  position: relative;
  height: 620px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 10px;
  top: 100px;
  left: 500px;
  box-shadow: 20px 20px 50px grey;

}
.tablesModalSelectContent {
  position: relative;
  border-radius: 10px;
  border: 1px solid #2f80ed;
  height: 350px;
  width: 515px;
  left: 15px;
}
.modalContainer {
  position: relative;
  overflow-y: auto;
  height: 480px;
}
.modalHeader {

  position: relative;
  font-size: 24px;
  padding-left: 15px;
  top: 20px;
}
.icon {
  float: right;
  margin-right: 23px;
}
.tablesModalContent {
  position: relative;
  border-radius: 10px;
  border: 1px solid #2f80ed;
  height: 350px;
  width: 470px;
  left: 15px;
}
.modalContentHeader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 50px;
  background-color: #2f80ed;
  color: white;
  font-size: 30px;
}
.modalContentHeaderTitle {
  position: relative;
  top: 10px;
  font-size: 20px;
  left: 15px;

}
.modalContent th {
  padding: 15px;
}
.modalContent tr:nth-child(even) {
  background-color: #ebebeb;
}
.modalContent {
  padding-top: 10px;
  width: inherit;
  height: 290px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
}
tr.selectionRow:hover {
  background-color: rgb(196, 195, 195);
  cursor: pointer;
}
.tableRowModal {
  padding: 15px;
}
hr {
  opacity: 0.4;
}

.zoomin {
  position: relative;
  bottom: 7px;
}
.btn:hover {
  background: white ;
  color: #2f80ed;
  cursor: pointer;
}
.inputCheckbox {
  cursor: pointer;
}
.keyAndIcon {
  display: flex;
  justify-content: left;
}
.KeyIcon {
  display: block;
  padding-right: 8px;
  align-items: center;
  margin-top: 3px ;
}

.divContent {
  height: 120px;
  overflow-y: auto;
  background-color: whitesmoke;
  color: black;
  padding-top: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.wrapperDiv {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0074a6;
}
.title {
  margin-top: 10px;
  text-align: center;
  padding: 0px;
  border-bottom: 1px solid black;
  color: white;
  font-weight: bold;
}
.divContent::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.divContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
.divContent::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
.divContent::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 128, 128);
}

