<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidebar">
    <h2>Configuration</h2>
    <form class="settings">
      <mat-accordion>
        <mat-expansion-panel [(expanded)] = "panelOpenState">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Tables
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table style="width: 250px;">
            <tr>
              <td class="tablename">View Relation Details</td>
              <td class="tableDetails"><img src="../assets/info.png" width="17px" height="17px"></td>
            </tr>
            <tr>
              <td class="tablename">Show All Relations</td>
              <td class="tableDetails"><img src="../assets/right-arrow.png" width="17px" height="17px"></td>
            </tr>
          </table>
          <mat-checkbox [checked] = "unselectAll" [indeterminate]="someChecked()" name="unselectAll" (change)="checkAll($event.checked)">
          </mat-checkbox>
          <table class="tables">
            <tr *ngFor="let modal of modals">
              <td class="tablename">
                <mat-checkbox [(ngModel)] = "modal.checked" [name]="modal.name" (ngModelChange)="getModals(modal)">
                  {{modal.name}}
                </mat-checkbox>
              </td>
              <td class="tableDetails" *ngIf="modal.checked">
                <a style="cursor: pointer;" (click)="onInfo(modal.name)"><img src="../assets/info.png" width="17px" height="17px"></a>
              </td>
              <td class="tableRelations" *ngIf="modal.checked">
                <a style="cursor: pointer;" (click)="showRelations(modal.name)"><img src="../assets/right-arrow.png" width="14px" height="14px"></a>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
        <br>
        <mat-form-field *ngIf="source != null">
          <mat-label>Table</mat-label>
          <input class="matInput" matInput [value]="source" disabled>
        </mat-form-field>
      <mat-accordion>
        <mat-expansion-panel [(expanded)] = "relationPanelOpenState" *ngIf="source != null">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Related To
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table class="tables">
            <tr *ngFor="let relation of relations">
              <td class="tablename">
                <mat-checkbox [(ngModel)] = "relation.checked" [name]="relation.name"  (ngModelChange)="getRelations(relation)">
                  {{relation.name}}
                </mat-checkbox>
              </td>
              <td class="tableRelations" style="font-size: 20px;">
                {{ relation.arrow }}
              </td>
              <td class="tableDetails" *ngIf="relation.checked">
                <a style="cursor: pointer;" (click)="onInfo(relation.name)"><img src="../assets/info.png" width="17px" height="17px"></a>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

    </form>
    <br><br>
    <button mat-stroked-button color="primary" class="buttonbtn" (click)="update$.next(true)">Update</button>
      <button mat-stroked-button color="primary" class="buttonbtn" (click)="center$.next(true)">Center</button>
      <button mat-stroked-button color="primary" class="buttonbtn" (click)="zoomToFit$.next(true)">Zoom to fit</button>

  </mat-drawer>
  <mat-drawer-content>
    <div class="page">
<ngx-graph
  [layout]="layout"
  [links]="links"
  [nodes]="nodes"
  [update$]="update$"
  [center$]="center$"
  [zoomToFit$]="zoomToFit$"
  [enableZoom]="zoomEnabled"
  [panToNode$]="panToNode$"
  [zoomLevel]="zoom"
  [zoomSpeed]="zoomSpeed"
  [autoZoom]="autoZoom"
  [autoCenter]="autoCenter"
  [panOnZoom]="panOnZoom"
  [draggingEnabled]="draggingEnabled"
>
<ng-template #nodeTemplate let-node>
  <svg:g class="node" (click)="selectedNode(node)" >
    <svg:foreignObject width="320" height="200">
      <xhtml:body>
        <div class="wrapperDiv">
          <div class="title"><h1>{{node.id}}</h1></div>
          <div class="divContent">
            <table>
              <tr class="tableRow" *ngFor="let key of node.data.keys">
                <td class="keyAndIcon">
                <span class="KeyIcon"><img [attr.src]="'../assets/' +key.type + '.png'" width="17px" height="17px"></img></span>
                <span class="fieldname">{{ key.name }}</span>
                </td>
                <td class="dataType">{{ key.dataType }}</td>
              </tr>
            </table>
          </div>
        </div>
      </xhtml:body>
    </svg:foreignObject>
  </svg:g>
</ng-template>
<ng-template #linkTemplate let-link>
  <svg:g  class="edge" (click)="selectedLink(link)" >
    <svg:path     class="line" stroke-width="8" [attr.link]="link.source + ' ' + link.target" [attr.masterkey]="link.data.masterkey" [attr.slavekey]="link.data.slavekey" [attr.joinType]="link.data.joinType" stroke-opacity="0.6">

    </svg:path>
    <svg:text  class="edge-label" text-anchor="middle" dy="15" >
      <textPath #tooltip="matTooltip"
      matTooltip='Info about&#13;the action'
        matTooltipPosition="right"
        [matTooltipClass]="'my-tooltip'" class="text-path" [attr.href]="'#' + link.id" startOffset="50%"  >
        {{link.data.relationship}}
      </textPath>
    </svg:text>
  </svg:g>
</ng-template>
</ngx-graph>
</div>

</mat-drawer-content>
</mat-drawer-container>
