<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidebar">
    <h2>Configuration</h2>
    <form class="settings">
      <mat-form-field>
        <mat-select placeholder="Modal" [ngModel]="modals" (ngModelChange)="setModal($event)" name="modal">
          <mat-option *ngFor="let m of modals"  [value]="m">
            {{m}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="relations.length > 0" >
        <mat-select  placeholder="Relations" [ngModel]="relations" (ngModelChange)="setRelation($event)" name="relation">
          <mat-option *ngFor="let m of relations"  [value]="m">
            {{m}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-accordion *ngIf="masterTable != null && slaveTable != null">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
              Relationship Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Master Table</mat-label>
            <input class="matInput" matInput [value]="masterTable" disabled>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Slave Table</mat-label>
            <input class="matInput" matInput [value]="slaveTable" disabled>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>

    </form>
    <br><br>
    <button mat-stroked-button color="primary" class="buttonbtn" (click)="update$.next(true)">Update</button>
      <button mat-stroked-button color="primary" class="buttonbtn" (click)="center$.next(true)">Center</button>
      <button mat-stroked-button color="primary" class="buttonbtn" (click)="zoomToFit$.next(true)">Zoom to fit</button>

  </mat-drawer>
  <mat-drawer-content>
    <div class="page">
<ngx-graph
  [layout]="layout"
  [links]="links"
  [nodes]="nodes"
  [update$]="update$"
  [center$]="center$"
  [zoomToFit$]="zoomToFit$"
  [enableZoom]="zoomEnabled"
>

<ng-template #nodeTemplate let-node>
  <svg:g class="node">
    <svg:foreignObject width="320" height="200">
      <xhtml:body>
        <div class="wrapperDiv">
          <div class="title"><h1>{{node.id}}</h1></div>
          <div class="divContent">
            <table>
              <tr class="tableRow" *ngFor="let key of node.data.keys">
                <td class="keyAndIcon">
                <span class="KeyIcon"><img [attr.src]="'../assets/' +key.type + '.png'" width="17px" height="17px"></img></span>
                <span class="fieldname">{{ key.name }}</span>
                </td>
                <td class="dataType">{{ key.dataType }}</td>
              </tr>
            </table>
          </div>
        </div>
      </xhtml:body>
    </svg:foreignObject>
  </svg:g>
</ng-template>
<ng-template #linkTemplate let-link>
  <svg:g class="edge">
    <svg:path class="line" stroke-width="8" [attr.link]="link.source + ' ' + link.target" [attr.masterkey]="link.data.masterkey" [attr.slavekey]="link.data.slavekey" stroke-opacity="0.6">
    </svg:path>
    <svg:text class="edge-label" text-anchor="middle" dy="15" >
      <textPath class="text-path" [attr.href]="'#' + link.id" startOffset="50%"  >
        {{link.data.relationship}}
      </textPath>
    </svg:text>
  </svg:g>
</ng-template>
</ngx-graph>
</div>

</mat-drawer-content>
</mat-drawer-container>
